# Node modules
node_modules/
Backend/node_modules/

# Environment variables
.env
Backend/.env

# Logs
*.log
npm-debug.log*
Backend/logs/

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Archivos ZIP de distribución
*.zip

# Archivos temporales
*.tmp
*.temp
